.form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../public/sectionBG.png");
    
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .form__group {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .form__group label {
    margin-bottom: 10px;
  }
  
  .form__group input,
  .form__group select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form__button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .form__button:hover {
    background-color: #0069d9;
  }
  
  .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
  }
  
  .section__item {
    border-radius: 5px;
    /* background-color: #FCFFE7 ; */
    flex-basis: 300px;
    margin: 20px;
    text-align: center;
    /* box-shadow: 2px 2px 2px #888888; */
  }
  
  .section__icon {
    font-size: 4em;
    margin-bottom: 20px;
  }
  
  .section__heading {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .section__text {
    font-size: 1em;
  }
  