.main-parent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    border: 2px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    width: 50%;
    padding: 5px;
    margin: 10px;
}
.left{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
#bar{
    width: 100%;
    text-align: center;
}